@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground scroll-smooth;
  }
}

.auth {
  @apply flex-center min-h-screen w-full z-[1];
}

.root {
  @apply flex flex-col w-full h-dvh z-0 relative;
}

.root-container {
  @apply flex flex-col flex-1  py-8 lg:mt-0 lg:py-10 z-[1];
  @apply overflow-y-auto relative [&::-webkit-scrollbar]:w-[4px];
  @apply [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full;
  @apply [&::-webkit-scrollbar-track]:bg-darkblue-400/10 [&::-webkit-scrollbar-thumb]:bg-orange-400;
}

.root-background {
  @apply absolute flex h-full w-full z-0 top-0 left-0;
  @apply bg-[length:16px_16px] bg-orange-100/50;
  @apply bg-[radial-gradient(#4A4A4A15_1px,transparent_1px)];
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  /* ===== UTILITIES */

  .wrapper {
    @apply mx-auto px-5 md:px-10 w-full gap-8 flex flex-col;
    @apply text-dark-400 p-16-regular max-w-[1600px];
  }

  .gradient-text {
    @apply bg-purple-gradient bg-cover bg-clip-text text-transparent;
  }

  /* ===== ALIGNMENTS */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* ===== TYPOGRAPHY */
  /* 44 */

  .h1-normal {
    @apply text-[32px] font-normal sm:text-[44px] leading-[120%] sm:leading-[56px];
  }

  .h1-semibold {
    @apply text-[32px] font-semibold sm:text-[44px] leading-[120%] sm:leading-[56px];
  }

  /* 36 */
  .h2-normal {
    @apply text-[30px] font-normal md:text-[36px] leading-[110%];
  }

  .h2-bold {
    @apply text-[30px] font-semibold md:text-[36px] leading-[110%];
  }

  /* 30 */
  .h3-bold {
    @apply font-medium text-[24px] leading-[140%];
  }

  /* 24 */
  .p-24-bold {
    @apply font-bold text-[24px] leading-[120%];
  }

  .p-24-regular {
    @apply font-normal text-[24px] leading-[120%];
  }

  /* 20 */
  .p-20-semibold {
    @apply font-semibold text-[20px] leading-[140%];
  }

  .p-20-regular {
    @apply font-normal text-[20px] leading-[140%];
  }

  /* 18 */
  .p-18-semibold {
    @apply font-semibold text-[18px] leading-[140%];
  }

  .p-18-regular {
    @apply font-normal text-[18px] leading-[140%];
  }

  /* 16 */
  .p-16-regular {
    @apply font-normal text-[16px] leading-[140%];
  }

  .p-16-semibold {
    @apply font-semibold text-[16px] leading-[140%];
  }

  .p-16-medium {
    @apply font-medium text-[16px] leading-[140%];
  }

  .p-16-regular {
    @apply font-normal text-[16px] leading-[140%];
  }

  .p-16-light {
    @apply font-light text-[16px] leading-[140%];
  }

  /* 14 */
  .p-14-medium {
    @apply font-medium text-[14px] leading-[120%];
  }

  .p-14-light {
    @apply font-light text-[14px] leading-[120%];
  }

  /* 10 */
  .p-10-medium {
    @apply font-medium text-[10px] leading-[140%];
  }

  /* =====  SHADCN OVERRIDES */
  .button {
    @apply py-4 px-6 flex-center gap-3 rounded-full p-16-semibold focus-visible:ring-offset-0 focus-visible:ring-transparent !important;
  }

  .dropdown-content {
    @apply shadow-lg rounded-md overflow-hidden p-0;
  }

  .dropdown-item {
    @apply p-16-semibold text-dark-700 cursor-pointer transition-all px-4 py-3 rounded-none outline-none hover:border-none !important;
    @apply focus-visible:ring-transparent hover:text-white hover:bg-purple-gradient hover:bg-cover focus-visible:ring-offset-0 focus-visible:outline-none !important;
  }

  .input-field {
    @apply rounded-[16px] border-2 shadow-sm disabled:opacity-100 px-4 py-3 h-[50px] md:h-[54px] !important;
    @apply p-16-regular focus-visible:ring-offset-0 focus-visible:ring-transparent !important;
    @apply border-orange-400/15 shadow-darkblue-400/5 text-darkblue-400 !important;
  }

  .search-field {
    @apply border-0 bg-transparent text-dark-600 w-full placeholder:text-dark-400 h-[50px] p-16-regular !important;
    @apply focus-visible:ring-offset-0 p-3 focus-visible:ring-transparent !important;
  }

  .submit-button {
    @apply bg-purple-gradient bg-cover rounded-full py-4 px-6 p-16-semibold h-[50px] w-full md:h-[54px];
  }

  .select-field {
    @apply w-full border-2 shadow-sm rounded-[16px] h-[50px] md:h-[54px] !important;
    @apply p-16-regular disabled:opacity-100 placeholder:text-dark-400/50 px-4 py-3 focus:ring-offset-0 !important;
    @apply focus-visible:ring-transparent focus:ring-transparent focus-visible:ring-0 focus-visible:outline-none !important;
    @apply border-orange-400/15 shadow-darkblue-400/5 text-darkblue-400 !important;
  }

  .select-trigger {
    @apply flex items-center  gap-2 py-5 capitalize focus-visible:outline-none;
  }

  .select-item {
    @apply py-3 cursor-pointer hover:bg-purple-100;
  }

  .IconButton {
    @apply focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .success-toast {
    @apply bg-green-100 text-green-900;
  }

  .error-toast {
    @apply bg-red-100 text-red-900;
  }

  /* Home Page */
  .hero {
    @apply flex-center flex-col gap-10;
  }

  .hero-heading {
    @apply h1-normal flex-wrap text-center text-orange-400;
  }

  .hero-intro {
    @apply p-16-regular text-center flex flex-col gap-2;
  }

  .hero-features {
    @apply flex-center w-full flex-wrap gap-6 md:gap-14 lg:gap-20;
  }

  .hero-features-link {
    @apply flex-center flex-col gap-2 basis-1/3 md:basis-0;
  }

  .hero-features-icon {
    @apply flex-center w-fit;
    @apply transition-all ease-out duration-500 p-4;
  }

  .hero-features-icon > i {
    @apply text-[40px];
  }

  .hero-features-label {
    @apply p-14-medium transition-all ease-out duration-500;
  }

  .hero-features-link:hover .hero-features-icon,
  .hero-features-link:hover .hero-features-label {
    @apply text-darkblue-400;
  }

  .hero-cta {
    @apply flex-center flex-col gap-8;
  }

  .hero-cta-intro {
    @apply p-14-light text-center;
  }

  .hero-cta-link {
    @apply rounded-full px-12 md:px-20 py-4 border-2 p-16-regular md:p-24-regular;
    @apply border-darkblue-400 text-darkblue-400;
    @apply transition-all ease-out duration-500;
    @apply hover:text-orange-400 hover:border-orange-400;
  }

  /* Credits Page */
  .credits-list {
    @apply mt-11 grid grid-cols-1 gap-5 sm:grid-cols-2 md:gap-9 xl:grid-cols-3;
  }

  .credits-item {
    @apply w-full rounded-[16px] border-2 p-8 shadow-xl lg:max-w-none;
    @apply border-orange-400/15 bg-white shadow-darkblue-400/5;
  }

  .credits-btn {
    @apply w-full rounded-full bg-purple-100 bg-cover text-darkblue-400 hover:text-purple-500;
  }

  /* Profile Page */
  .profile {
    @apply mt-5 flex flex-col gap-5 sm:flex-row md:mt-8 md:gap-10;
  }

  .profile-card {
    @apply w-full rounded-[16px] border-2 p-5 shadow-lg md:px-6 md:py-8;
    @apply border-orange-400/15 bg-white shadow-darkblue-400/5;
  }

  /* Transformation Details */
  .transformation-grid {
    @apply grid h-fit min-h-[200px] grid-cols-1 gap-5 py-8 md:grid-cols-2;
  }

  .transformation-original_image {
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
  }

  /* Collection Component */

  .collection {
    @apply flex flex-col sm:mt-12;
  }

  .collection-heading {
    @apply md:flex-between mb-6 flex flex-col gap-5 md:flex-row;
  }

  .collection-list {
    @apply grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5;
  }

  .collection-empty {
    @apply flex-center h-60 w-full rounded-[10px] border border-dark-400/10 bg-white/20;
  }

  .collection-btn {
    @apply button w-32 bg-purple-gradient bg-cover text-white;
  }

  .collection-card {
    @apply flex cursor-pointer flex-col gap-4 rounded-[16px] transition-all overflow-hidden;
    @apply hover:shadow-darkblue-400/20 bg-white shadow-md hover:shadow-lg shadow-darkblue-400/5;
  }

  /* MediaUploader Component */
  .media-uploader_cldImage {
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
  }

  .media-uploader_cta {
    @apply flex-center flex h-72 cursor-pointer flex-col gap-5 rounded-[16px] border border-dashed bg-purple-100/20 shadow-inner;
  }

  .media-uploader_cta-image {
    @apply rounded-[16px] bg-white  p-5 shadow-sm shadow-purple-200/50;
  }

  /* Search Component */
  .search {
    @apply flex w-full rounded-[16px] border-2 md:max-w-96 px-4 shadow-sm;
    @apply border-orange-400/15 shadow-darkblue-400/5 bg-white;
  }

  /* Topbar Component */
  .topbar {
    @apply sticky w-full bg-white p-4 flex z-10 top-0 border-b;
    @apply border-purple-100 shadow-sm shadow-purple-200/10;
  }

  .topbar-logo {
    @apply flex items-center gap-2 md:py-2;
  }

  .topbar-nav {
    @apply flex w-full justify-between;
  }

  .topbar-nav_elements {
    @apply hidden gap-6 lg:flex;
  }

  .topbar-nav_element {
    @apply whitespace-nowrap inline-flex;
  }

  .topbar-link {
    @apply flex gap-2 items-center;
    @apply text-sm font-light transition-all;
    @apply hover:text-orange-400 text-dark-400;
  }

  .topbar-link_active {
    @apply text-orange-400 hover:text-orange-400;
  }

  /* MobileNav Component */

  .mobilenav {
    @apply flex lg:hidden;
  }

  .mobilenav_trigger {
    @apply text-3xl text-slate-500;
  }

  .mobilenav_elements {
    @apply flex w-full flex-col items-start gap-4;
  }

  .mobilenav_element {
    @apply flex whitespace-nowrap text-dark-400;
  }

  .mobilenav_link {
    @apply flex-center gap-4;
  }

  .mobilenav_link_active {
    @apply text-darkblue-400;
  }

  .mobilenav_link > i {
    @apply text-2xl;
  }

  .mobilenav_content {
    @apply flex flex-col gap-8;
  }

  .mobilenav_content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 !important;
    @apply focus-visible:outline-none focus-visible:border-none !important;
  }

  .mobilenav_content button > svg {
    @apply w-6 h-6;
  }

  /* TransformationForm Component */
  .prompt-field {
    @apply flex flex-col gap-5 lg:flex-row lg:gap-10;
  }

  .media-uploader-field {
    @apply grid h-fit min-h-[200px] grid-cols-1 gap-5 py-4 md:grid-cols-2;
  }

  /* TransformedImage Component */
  .download-btn {
    @apply p-14-medium mt-2 flex items-center gap-2 px-2;
  }

  .transformed-image {
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
  }

  .transforming-loader {
    @apply flex-center absolute left-[50%] top-[50%] size-full -translate-x-1/2 -translate-y-1/2 flex-col gap-2 rounded-[10px] border bg-dark-700/90;
  }

  .transformed-placeholder {
    @apply flex-center p-14-medium h-full min-h-72 flex-col gap-5 rounded-[16px] border border-dashed bg-purple-100/20 shadow-inner;
  }
}

/* =====  CLERK OVERRIDES */
.cl-userButtonBox {
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
}

.cl-userButtonOuterIdentifier {
  @apply text-darkblue-400 p-16-regular p-0;
}
